<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="content" class="content content-full-width">
                <!-- begin profile -->
                <div class="profile">
                    <div class="profile-header">
                        <!-- BEGIN profile-header-cover -->
                        <div class="profile-header-cover"></div>
                        <!-- END profile-header-cover -->
                        <!-- BEGIN profile-header-content -->
                        <div class="profile-header-content">
                            <!-- BEGIN profile-header-img -->
                            <div class="profile-header-img">
                                <img *ngIf="sexo == true" src="https://bootdey.com/img/Content/avatar/avatar7.png"
                                    alt="">
                                <img *ngIf="sexo == false" src="https://bootdey.com/img/Content/avatar/avatar5.png"
                                    alt="">
                            </div>
                            <!-- END profile-header-img -->
                            <!-- BEGIN profile-header-info -->
                            <div class="profile-header-info">
                                <h4 class="m-t-10 m-b-5">{{dadosUsuarioView.name + " " + dadosUsuarioView.lastName}}
                                </h4>
                                <p class="m-b-10">UXUI + Frontend Developer</p>
                                <a href="#" class="btn btn-xs btn-yellow">Edit Profile</a>
                            </div>
                            <!-- END profile-header-info -->
                        </div>
                        <!-- END profile-header-content -->
                        <!-- BEGIN profile-header-tab -->
                        <ul class="profile-header-tab nav nav-tabs">
                            <li class="nav-item"><a class="nav-link" data-toggle="tab">POSTS</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab">ABOUT</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab">PHOTOS</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab">VIDEOS</a>
                            </li>
                            <li class="nav-item"><a href="#profile-friends" class="nav-link active show"
                                    data-toggle="tab">FRIENDS</a></li>
                        </ul>
                        <!-- END profile-header-tab -->
                    </div>
                </div>
                <!-- end profile -->
                <!-- begin profile-content -->
                <div class="profile-content">
                    <!-- begin tab-content -->
                    <div class="tab-content p-0">
                        <!-- begin #profile-friends tab -->
                        <div class="tab-pane fade in active show" id="profile-friends">
                            <h4 class="m-t-0 m-b-20">Usuários ({{numeroUsuario}})</h4>
                            <!-- begin row -->
                            <div class="row row-space-2">
                                <!-- begin col-6 -->
                                <div *ngIf="this.listaUsuarios[0]" class="col-md-6 m-b-2">
                                    <div class="p-10 bg-white">
                                        <div class="media media-xs overflow-visible">
                                            <a class="media-left" href="javascript:;">
                                                <img *ngIf="this.listaUsuarios[0]?.genre == 'M'" src="https://www.w3schools.com/howto/img_avatar.png" alt=""
                                                    class="media-object img-circle">
                                                <img *ngIf="this.listaUsuarios[0]?.genre == 'F'" src="https://www.w3schools.com/howto/img_avatar2.png" alt=""
                                                    class="media-object img-circle">
                                            </a>
                                            <div class="media-body valign-middle">
                                                <b
                                                    class="text-inverse">{{this.listaUsuarios[0]?.name + " " + this.listaUsuarios[0]?.lastName}}</b>
                                            </div>
                                            <div class="media-body valign-middle text-right overflow-visible">
                                                <div class="btn-group dropdown">
                                                    <a href="javascript:;"
                                                        class="btn btn-primary" (click)="acaoClick('0')">{{this.listaUsuarios[0].amigo}}</a>
                                                    <!-- <a href="javascript:;" data-toggle="dropdown"
                                                        class="btn btn-default dropdown-toggle"
                                                        aria-expanded="false"></a>
                                                    <ul class="dropdown-menu dropdown-menu-right"
                                                        x-placement="bottom-end"
                                                        style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(101px, 34px, 0px);">
                                                        <li><a href="javascript:;">Adicionar</a></li>
                                                        <li><a href="javascript:;">Remover</a></li>
                                        
                                                    </ul> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end col-6 -->
                                <!-- begin col-6 -->
                                <div *ngIf="this.listaUsuarios[1]" class="col-md-6 m-b-2">
                                    <div class="p-10 bg-white">
                                        <div class="media media-xs overflow-visible">
                                            <a class="media-left" href="javascript:;">
                                                <a class="media-left" href="javascript:;">
                                                    <img *ngIf="this.listaUsuarios[1]?.genre == 'M'" src="https://www.w3schools.com/howto/img_avatar.png" alt=""
                                                        class="media-object img-circle">
                                                    <img *ngIf="this.listaUsuarios[1]?.genre == 'F'" src="https://www.w3schools.com/howto/img_avatar2.png" alt=""
                                                        class="media-object img-circle">
                                                </a>
                                            </a>
                                            <div class="media-body valign-middle">
                                                <b
                                                    class="text-inverse">{{this.listaUsuarios[1].name + " " + this.listaUsuarios[1].lastName}}</b>
                                            </div>
                                            <div class="media-body valign-middle text-right overflow-visible">
                                                <div class="btn-group dropdown">
                                                    <a href="javascript:;"
                                                        class="btn btn-primary" (click)="acaoClick('1')">{{this.listaUsuarios[1].amigo}}</a>
                                                    <!-- <a href="javascript:;" data-toggle="dropdown"
                                                        class="btn btn-default dropdown-toggle"></a>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li><a href="javascript:;">Adicionar</a></li>
                                                        <li><a href="javascript:;">Remover</a></li>
                                        
                                                    </ul> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end col-6 -->
                                <!-- begin col-6 -->
                                <div *ngIf="this.listaUsuarios[2]" class="col-md-6 m-b-2">
                                    <div class="p-10 bg-white">
                                        <div class="media media-xs overflow-visible">
                                            <a class="media-left" href="javascript:;">
                                                <a class="media-left" href="javascript:;">
                                                    <img *ngIf="this.listaUsuarios[2]?.genre == 'M'" src="https://www.w3schools.com/howto/img_avatar.png" alt=""
                                                        class="media-object img-circle">
                                                    <img *ngIf="this.listaUsuarios[2]?.genre == 'F'" src="https://www.w3schools.com/howto/img_avatar2.png" alt=""
                                                        class="media-object img-circle">
                                                </a>
                                            </a>
                                            <div class="media-body valign-middle">
                                                <b
                                                    class="text-inverse">{{this.listaUsuarios[2].name + " " + this.listaUsuarios[2].lastName}}</b>
                                            </div>
                                            <div class="media-body valign-middle text-right overflow-visible">
                                                <div class="btn-group dropdown">
                                                    <a href="javascript:;"
                                                        class="btn btn-primary" (click)="acaoClick('2')">{{this.listaUsuarios[2].amigo}}</a>
                                                    <!-- <a href="javascript:;" data-toggle="dropdown"
                                                        class="btn btn-default dropdown-toggle"
                                                        aria-expanded="false"></a>
                                                    <ul class="dropdown-menu dropdown-menu-right" x-placement="top-end"
                                                        style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(101px, -2px, 0px);">
                                                        <li><a href="javascript:;">Adicionar</a></li>
                                                        <li><a href="javascript:;">Remover</a></li>
                                        
                                                    </ul> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end col-6 -->
                                <!-- begin col-6 -->
                                <div *ngIf="this.listaUsuarios[3]" class="col-md-6 m-b-2">
                                    <div class="p-10 bg-white">
                                        <div class="media media-xs overflow-visible">
                                            <a class="media-left" href="javascript:;">
                                                <a class="media-left" href="javascript:;">
                                                    <img *ngIf="this.listaUsuarios[3]?.genre == 'M'" src="https://www.w3schools.com/howto/img_avatar.png" alt=""
                                                        class="media-object img-circle">
                                                    <img *ngIf="this.listaUsuarios[3]?.genre == 'F'" src="https://www.w3schools.com/howto/img_avatar2.png" alt=""
                                                        class="media-object img-circle">
                                                </a>
                                            </a>
                                            <div class="media-body valign-middle">
                                                <b
                                                    class="text-inverse">{{this.listaUsuarios[3].name + " " + this.listaUsuarios[3].lastName}}</b>
                                            </div>
                                            <div class="media-body valign-middle text-right overflow-visible">
                                                <div class="btn-group dropdown">
                                                    <a href="javascript:;"
                                                        class="btn btn-primary" (click)="acaoClick('3')">{{this.listaUsuarios[3].amigo}}</a>
                                                    <!-- <a href="javascript:;" data-toggle="dropdown"
                                                        class="btn btn-default dropdown-toggle"></a>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li><a href="javascript:;">Adicionar</a></li>
                                                        <li><a href="javascript:;">Remover</a></li>
                                        
                                                    </ul> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end col-6 -->
                                <!-- begin col-6 -->
                                <div *ngIf="this.listaUsuarios[4]" class="col-md-6 m-b-2">
                                    <div class="p-10 bg-white">
                                        <div class="media media-xs overflow-visible">
                                            <a class="media-left" href="javascript:;">
                                                <a class="media-left" href="javascript:;">
                                                    <img *ngIf="this.listaUsuarios[4]?.genre == 'M'" src="https://www.w3schools.com/howto/img_avatar.png" alt=""
                                                        class="media-object img-circle">
                                                    <img *ngIf="this.listaUsuarios[4]?.genre == 'F'" src="https://www.w3schools.com/howto/img_avatar2.png" alt=""
                                                        class="media-object img-circle">
                                                </a>
                                            </a>
                                            <div class="media-body valign-middle">
                                                <b
                                                    class="text-inverse">{{this.listaUsuarios[4].name + " " + this.listaUsuarios[4].lastName}}</b>
                                            </div>
                                            <div class="media-body valign-middle text-right overflow-visible">
                                                <div class="btn-group dropdown">
                                                    <a href="javascript:;"
                                                        class="btn btn-primary" (click)="acaoClick('4')">{{this.listaUsuarios[4].amigo}}</a>
                                                    <!-- <a href="javascript:;" data-toggle="dropdown"
                                                        class="btn btn-default dropdown-toggle"></a>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li><a href="javascript:;">Adicionar</a></li>
                                                        <li><a href="javascript:;">Remover</a></li>
                                        
                                                    </ul> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end col-6 -->
                                <!-- begin col-6 -->
                                <div *ngIf="this.listaUsuarios[5]" class="col-md-6 m-b-2">
                                    <div class="p-10 bg-white">
                                        <div class="media media-xs overflow-visible">
                                            <a class="media-left" href="javascript:;">
                                                <a class="media-left" href="javascript:;">
                                                    <img *ngIf="this.listaUsuarios[5]?.genre == 'M'" src="https://www.w3schools.com/howto/img_avatar.png" alt=""
                                                        class="media-object img-circle">
                                                    <img *ngIf="this.listaUsuarios[5]?.genre == 'F'" src="https://www.w3schools.com/howto/img_avatar2.png" alt=""
                                                        class="media-object img-circle">
                                                </a>
                                            </a>
                                            <div class="media-body valign-middle">
                                                <b
                                                    class="text-inverse">{{this.listaUsuarios[5].name + " " + this.listaUsuarios[5].lastName}}</b>
                                            </div>
                                            <div class="media-body valign-middle text-right overflow-visible">
                                                <div class="btn-group dropdown">
                                                    <a href="javascript:;"
                                                        class="btn btn-primary" (click)="acaoClick('5')">{{this.listaUsuarios[5].amigo}}</a>
                                                    <!-- <a href="javascript:;" data-toggle="dropdown"
                                                        class="btn btn-default dropdown-toggle"></a>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li><a href="javascript:;">Adicionar</a></li>
                                                        <li><a href="javascript:;">Remover</a></li>
                                        
                                                    </ul> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end col-6 -->
                                <!-- begin col-6 -->
                                <div *ngIf="this.listaUsuarios[6]" class="col-md-6 m-b-2">
                                    <div class="p-10 bg-white">
                                        <div class="media media-xs overflow-visible">
                                            <a class="media-left" href="javascript:;">
                                                <a class="media-left" href="javascript:;">
                                                    <img *ngIf="this.listaUsuarios[6]?.genre == 'M'" src="https://www.w3schools.com/howto/img_avatar.png" alt=""
                                                        class="media-object img-circle">
                                                    <img *ngIf="this.listaUsuarios[6]?.genre == 'F'" src="https://www.w3schools.com/howto/img_avatar2.png" alt=""
                                                        class="media-object img-circle">
                                                </a>
                                            </a>
                                            <div class="media-body valign-middle">
                                                <b
                                                    class="text-inverse">{{this.listaUsuarios[6].name + " " + this.listaUsuarios[6].lastName}}</b>
                                            </div>
                                            <div class="media-body valign-middle text-right overflow-visible">
                                                <div class="btn-group dropdown">
                                                    <a href="javascript:;"
                                                        class="btn btn-primary" (click)="acaoClick('6')">{{this.listaUsuarios[6].amigo}}</a>
                                                    <!-- <a href="javascript:;" data-toggle="dropdown"
                                                        class="btn btn-default dropdown-toggle"></a>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li><a href="javascript:;">Adicionar</a></li>
                                                        <li><a href="javascript:;">Remover</a></li>
                                        
                                                    </ul> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end col-6 -->
                                <!-- begin col-6 -->
                                <div *ngIf="this.listaUsuarios[7]" class="col-md-6 m-b-2">
                                    <div class="p-10 bg-white">
                                        <div class="media media-xs overflow-visible">
                                            <a class="media-left" href="javascript:;">
                                                <a class="media-left" href="javascript:;">
                                                    <img *ngIf="this.listaUsuarios[7]?.genre == 'M'" src="https://www.w3schools.com/howto/img_avatar.png" alt=""
                                                        class="media-object img-circle">
                                                    <img *ngIf="this.listaUsuarios[7]?.genre == 'F'" src="https://www.w3schools.com/howto/img_avatar2.png" alt=""
                                                        class="media-object img-circle">
                                                </a>
                                            </a>
                                            <div class="media-body valign-middle">
                                                <b
                                                    class="text-inverse">{{this.listaUsuarios[7].name + " " + this.listaUsuarios[7].lastName}}</b>
                                            </div>
                                            <div class="media-body valign-middle text-right overflow-visible">
                                                <div class="btn-group dropdown">
                                                    <a href="javascript:;"
                                                        class="btn btn-primary" (click)="acaoClick('7')">{{this.listaUsuarios[7].amigo}}</a>
                                                    <!-- <a href="javascript:;" data-toggle="dropdown"
                                                        class="btn btn-default dropdown-toggle"></a>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li><a href="javascript:;">Adicionar</a></li>
                                                        <li><a href="javascript:;">Remover</a></li>
                                        
                                                    </ul> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end col-6 -->
                                <!-- begin col-6 -->
                                <div *ngIf="this.listaUsuarios[8]" class="col-md-6 m-b-2">
                                    <div class="p-10 bg-white">
                                        <div class="media media-xs overflow-visible">
                                            <a class="media-left" href="javascript:;">
                                                <a class="media-left" href="javascript:;">
                                                    <img *ngIf="this.listaUsuarios[8]?.genre == 'M'" src="https://www.w3schools.com/howto/img_avatar.png" alt=""
                                                        class="media-object img-circle">
                                                    <img *ngIf="this.listaUsuarios[8]?.genre == 'F'" src="https://www.w3schools.com/howto/img_avatar2.png" alt=""
                                                        class="media-object img-circle">
                                                </a>
                                            </a>
                                            <div class="media-body valign-middle">
                                                <b
                                                    class="text-inverse">{{this.listaUsuarios[8].name + " " + this.listaUsuarios[8].lastName}}</b>
                                            </div>
                                            <div class="media-body valign-middle text-right overflow-visible">
                                                <div class="btn-group dropdown">
                                                    <a href="javascript:;"
                                                        class="btn btn-primary" (click)="acaoClick('8')">{{this.listaUsuarios[8].amigo}}</a>
                                                    <!-- <a href="javascript:;" data-toggle="dropdown"
                                                        class="btn btn-default dropdown-toggle"></a>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li><a href="javascript:;">Adicionar</a></li>
                                                        <li><a href="javascript:;">Remover</a></li>
                                        
                                                    </ul> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end col-6 -->
                                <!-- begin col-6 -->
                                <div *ngIf="this.listaUsuarios[9]" class="col-md-6 m-b-2">
                                    <div class="p-10 bg-white">
                                        <div class="media media-xs overflow-visible">
                                            <a class="media-left" href="javascript:;">
                                                <a class="media-left" href="javascript:;">
                                                    <img *ngIf="this.listaUsuarios[9]?.genre == 'M'" src="https://www.w3schools.com/howto/img_avatar.png" alt=""
                                                        class="media-object img-circle">
                                                    <img *ngIf="this.listaUsuarios[9]?.genre == 'F'" src="https://www.w3schools.com/howto/img_avatar2.png" alt=""
                                                        class="media-object img-circle">
                                                </a>
                                            </a>
                                            <div class="media-body valign-middle">
                                                <b
                                                    class="text-inverse">{{this.listaUsuarios[9].name + " " + this.listaUsuarios[9].lastName}}</b>
                                            </div>
                                            <div class="media-body valign-middle text-right overflow-visible">
                                                <div class="btn-group dropdown">
                                                    <a href="javascript:;"
                                                        class="btn btn-primary" (click)="acaoClick('9')">{{this.listaUsuarios[9].amigo}}</a>
                                                    <!-- <a href="javascript:;" data-toggle="dropdown"
                                                        class="btn btn-default dropdown-toggle"></a>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li><a href="javascript:;">Adicionar</a></li>
                                                        <li><a href="javascript:;">Remover</a></li>
                                        
                                                    </ul> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end col-6 -->
                                <!-- begin col-6 -->
                                <div *ngIf="this.listaUsuarios[10]" class="col-md-6 m-b-2">
                                    <div class="p-10 bg-white">
                                        <div class="media media-xs overflow-visible">
                                            <a class="media-left" href="javascript:;">
                                                <a class="media-left" href="javascript:;">
                                                    <img *ngIf="this.listaUsuarios[10]?.genre == 'M'" src="https://www.w3schools.com/howto/img_avatar.png" alt=""
                                                        class="media-object img-circle">
                                                    <img *ngIf="this.listaUsuarios[10]?.genre == 'F'" src="https://www.w3schools.com/howto/img_avatar2.png" alt=""
                                                        class="media-object img-circle">
                                                </a>
                                            </a>
                                            <div class="media-body valign-middle">
                                                <b
                                                    class="text-inverse">{{this.listaUsuarios[10].name + " " + this.listaUsuarios[10].lastName}}</b>
                                            </div>
                                            <div class="media-body valign-middle text-right overflow-visible">
                                                <div class="btn-group dropdown">
                                                    <a href="javascript:;"
                                                        class="btn btn-primary" (click)="acaoClick('10')">{{this.listaUsuarios[10].amigo}}</a>
                                                    <!-- <a href="javascript:;" data-toggle="dropdown"
                                                        class="btn btn-default dropdown-toggle"></a>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li><a href="javascript:;">Adicionar</a></li>
                                                        <li><a href="javascript:;">Remover</a></li>
                                        
                                                    </ul> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end col-6 -->
                                <!-- begin col-6 -->
                                <div *ngIf="this.listaUsuarios[11]" class="col-md-6 m-b-2">
                                    <div class="p-10 bg-white">
                                        <div class="media media-xs overflow-visible">
                                            <a class="media-left" href="javascript:;">
                                                <a class="media-left" href="javascript:;">
                                                    <img *ngIf="this.listaUsuarios[11]?.genre == 'M'" src="https://www.w3schools.com/howto/img_avatar.png" alt=""
                                                        class="media-object img-circle">
                                                    <img *ngIf="this.listaUsuarios[11]?.genre == 'F'" src="https://www.w3schools.com/howto/img_avatar2.png" alt=""
                                                        class="media-object img-circle">
                                                </a>
                                            </a>
                                            <div class="media-body valign-middle">
                                                <b
                                                    class="text-inverse">{{this.listaUsuarios[11].name + " " + this.listaUsuarios[11].lastName}}</b>
                                            </div>
                                            <div class="media-body valign-middle text-right overflow-visible">
                                                <div class="btn-group dropdown">
                                                    <a href="javascript:;"
                                                        class="btn btn-primary" (click)="acaoClick('11')">{{this.listaUsuarios[11].amigo}}</a>
                                                    <!-- <a href="javascript:;" data-toggle="dropdown"
                                                        class="btn btn-default dropdown-toggle"></a>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li><a href="javascript:;">Adicionar</a></li>
                                                        <li><a href="javascript:;">Remover</a></li>
                                        
                                                    </ul> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end col-6 -->
                                <!-- begin col-6 -->
                                <div *ngIf="this.listaUsuarios[12]" class="col-md-6 m-b-2">
                                    <div class="p-10 bg-white">
                                        <div class="media media-xs overflow-visible">
                                            <a class="media-left" href="javascript:;">
                                                <a class="media-left" href="javascript:;">
                                                    <img *ngIf="this.listaUsuarios[12]?.genre == 'M'" src="https://www.w3schools.com/howto/img_avatar.png" alt=""
                                                        class="media-object img-circle">
                                                    <img *ngIf="this.listaUsuarios[12]?.genre == 'F'" src="https://www.w3schools.com/howto/img_avatar2.png" alt=""
                                                        class="media-object img-circle">
                                                </a>
                                            </a>
                                            <div class="media-body valign-middle">
                                                <b
                                                    class="text-inverse">{{this.listaUsuarios[12].name + " " + this.listaUsuarios[12].lastName}}</b>
                                            </div>
                                            <div class="media-body valign-middle text-right overflow-visible">
                                                <div class="btn-group dropdown">
                                                    <a href="javascript:;"
                                                        class="btn btn-primary" (click)="acaoClick('12')">{{this.listaUsuarios[12].amigo}}</a>
                                                    <!-- <a href="javascript:;" data-toggle="dropdown"
                                                        class="btn btn-default dropdown-toggle"></a>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li><a href="javascript:;">Adicionar</a></li>
                                                        <li><a href="javascript:;">Remover</a></li>
                                        
                                                    </ul> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end col-6 -->
                                <!-- begin col-6 -->
                                <!-- end col-6 -->
                                <!-- begin col-6 -->
                                <div *ngIf="this.listaUsuarios[13]" class="col-md-6 m-b-2">
                                    <div class="p-10 bg-white">
                                        <div class="media media-xs overflow-visible">
                                            <a class="media-left" href="javascript:;">
                                                <a class="media-left" href="javascript:;">
                                                    <img *ngIf="this.listaUsuarios[13]?.genre == 'M'" src="https://www.w3schools.com/howto/img_avatar.png" alt=""
                                                        class="media-object img-circle">
                                                    <img *ngIf="this.listaUsuarios[13]?.genre == 'F'" src="https://www.w3schools.com/howto/img_avatar2.png" alt=""
                                                        class="media-object img-circle">
                                                </a>
                                            </a>
                                            <div class="media-body valign-middle">
                                                <b
                                                    class="text-inverse">{{this.listaUsuarios[13].name + " " + this.listaUsuarios[13].lastName}}</b>
                                            </div>
                                            <div class="media-body valign-middle text-right overflow-visible">
                                                <div class="btn-group dropdown">
                                                    <a href="javascript:;"
                                                        class="btn btn-primary" (click)="acaoClick('13')">{{this.listaUsuarios[13].amigo}}</a>
                                                    <!-- <a href="javascript:;" data-toggle="dropdown"
                                                        class="btn btn-default dropdown-toggle"></a>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li><a href="javascript:;">Adicionar</a></li>
                                                        <li><a href="javascript:;">Remover</a></li>
                                        
                                                    </ul> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end col-6 -->
                            </div>
                            <!-- end row -->
                        </div>
                        <!-- end #profile-friends tab -->
                    </div>
                    <!-- end tab-content -->
                </div>
                <!-- end profile-content -->
            </div>
        </div>
    </div>
</div>